# Environment
.env
.env.*
|.env.example

# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/

#Allure
allure-report/
allure-results/

# vscode    
.vscode/

#os files
.DS_Store
thumbs.db

# Logs
*.log
